<app-header></app-header>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Giovani Florek </mat-card-title>
    <mat-card-subtitle>Usuário Administrador</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      Locatário do Imóvel A1
    </p>
    <p>
      CPF: 036.434.260.97
    </p>
    <p>
      Tel: 54 99627 1031
    </p>
    <p>
      Nascido em: 13/03/1998
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis explicabo, nemo facere rem dolores eligendi suscipit hic harum adipisci eaque delectus accusantium ipsa. Laborum iure repellendus velit fuga. Cupiditate, accusantium.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil iusto beatae doloremque cum est, iure placeat? Aperiam voluptate consequatur culpa, saepe sit sapiente quam rem aliquid voluptates porro, dolor commodi.
    </p>
  </mat-card-content>
  <mat-card-actions  fxLayoutAlign="end end" >
    <button mat-button >Editar</button>
  </mat-card-actions>
</mat-card>
